<form action="" method="post">
    <div>
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="123.456.789-00" required>
    </div>
    <div>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="EX: João da Silva" required>
    </div>
    <div>
        <label for="data-nascimento">Nascimento:</label>
        <input type="date" name="data-nascimento" placeholder="dd/MM/yyyy" required>
    </div>
    <div>
        <label for="sexo">Genero:</label>
        <select name="sexo" id="sexo">
            <option value="feminino">Feminino</option>
            <option value="masculino">Masculino</option>
            <option value="nao_binario">Nao binario</option>
            <option selected value="prefiro_nao_declarar">Prefiro nao declarar</option>
        </select>
    </div>
    <div>
        <label for="nacionalidade">Nacionalidade:</label>
        <input type="text" name="nacionalidade" placeholder="Ex: Brasileiro" required>
    </div>
    <div>
        <label for="naturalidade">Naturalidade:</label>
        <input type="text" name="naturalidade" placeholder="Ex: Goiás-GO" required>
    </div>
    <div>
        <label for="cep">Cep:</label>
        <input type="text" name="cep" placeholder="Ex: 12345-67" required>
    </div>
    <div>
        <label for="logradouro">Logradouro:</label>
        <input type="text" name="logradouro" placeholder="Ex: Rua Vinte de Maio" required>
    </div>
    <div class="div-curta">
        <label for="numero">Numero:</label>
        <input type="number" name="numero" required>
    </div>
    <div>
        <label for="bairro">Bairro:</label>
        <input type="text" name="bairro" placeholder="Ex: Vila das Belezas" required>
    </div>
    <div>
        <label for="complemento">Complemento:</label>
        <input type="text" name="complemento" placeholder="Ex: Bloco 2 Ap. 256" required>
    </div>
    <div>
        <label for="municipio">Municipio:</label>
        <input type="text" name="municipio" placeholder="Ex: Goiania" required>
    </div>
    <div class="div-curta">
        <label for="estado">Estado:</label>
        <input type="text" name="estado" placeholder="Ex: GO" required>
    </div>
    <div id="salvar">
        <input id="submit" type="button" value="Salvar">
    </div>  
</form>