main {
    height: 100vh;
    width: 100vw;
    background-color: #283848;
    padding: 5px;
}

.cadastro {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid lightgray;
    padding: 20px;
}

.cadastro h1 {
    width: 100%;
    margin-bottom: 20px;   
}